<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.androidbasic">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MyPerferenceActivtity"
            android:label="Prefer" />
        <activity
            android:name=".ImageActivity"
            android:label="Image" />
        <activity
            android:name=".HelloActivity"
            android:label="HelloActivity" />
        <activity android:name=".ButtonActivity" />
        <activity
            android:name=".TouchCircle"
            android:label="Touch_circle" />
        <activity
            android:name=".SharedPreferenceActivity"
            android:label="SharedPreferences"></activity>
        <activity
            android:name=".FileActivity"
            android:label="FireTest">

        </activity>
        <activity android:name=".SQLiteTestActivity" android:label="SQLTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>